.product-branner {
    position: relative;
    text-align: center;
}

.product-branner .swiper-makeup {
    width: 748rpx;
    height: 434rpx;
}

.product-branner .swiper-common {
    height: 708rpx;
}

.product-branner .swiper-square {
    width: 750rpx;
    height: 750rpx;
}

.product-branner .square-img {
    width: 750rpx;
    height: 750rpx;
}

.product-branner .common-img {
    width:744rpx;
    height: 744rpx;
    margin :0 auto;
}

.product-branner .makeup-img {
    width: 748rpx;
    height: 100%;
}

.product-branner .sale-out {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 200rpx;
    height: 200rpx;
}

.product-branner .count-down {
    display: flex;
    position: absolute;
    bottom: 25rpx;
    left: 0;
    height: 88rpx;
    width: 162rpx;
    background-color: #000;
    opacity: 0.6;
    border-radius: 0 88rpx 88rpx 0;
    z-index: 10;
}

.product-branner .count-down image {
    width: 24rpx;
    height: 24rpx;
}

.product-branner .count-down-text-view {
    display: flex;
    flex-direction: column;
}

.product-branner .count-down-text-margin {
    margin-top: 16rpx;
    margin-bottom: 12rpx;
}

.product-branner .count-down text {
    line-height: 22rpx;
    font-size: 22rpx;
    margin-left: 30rpx;
    color: #fff;
    text-align: left;
}

.product-branner .btn-detial-img {
    position: absolute;
    bottom: 24rpx;
    right: 30rpx;
    width: 88rpx;
    height: 88rpx;
}

/*-----------------------------*/

.slider-img-container {
    width: 750rpx;
    height: 708rpx;
    overflow: hidden;
    position: relative;
    text-align: center;
}

.video-player {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 124rpx;
    height: 124rpx;
    transform: translate(-50%, -50%);
    z-index: 2;
}
.video-container {
    width: 750rpx;
    height: 708rpx;
    position: relative;
    text-align: center;
}
.slider-video{width:750rpx;height:708rpx;}
.video-close-button {
    position: absolute;
    left: 50%;
    top:100%;
    transform: translate(-50%,0);
    font-size: 22rpx;
    background: rgba(0,0,0,0.7);
    color: rgba(255,255,255,0.8);
    width: 60rpx;
    line-height: 45rpx;
    text-align: center;
    z-index:2;
    border-radius: 0 0 30rpx 30rpx;
}
