<view class="xh-column xh-w-750" bindtap="__nav__" data-action="navigate" data-url="/package_a/pages/address/index">
    <navigation wx:if="{{!cart||!cart.address||!cart.address.is_valid}}" icon="{{apiAssets}}/images/v2/product/site.png"  stl-icon="width:30rpx;height:36rpx;" title="添加收货地址" cls="xh-panel xh-w-750" hovercls="xh-panel-hover" />
    <navigation wx:else cls="xh-panel xh-w-750" hovercls="xh-panel-hover">
        <view class="xh-row xh-w ">
            <image src="{{apiAssets}}/images/v2/product/site.png" class="xh-nav-icon" style="width:30rpx;height:36rpx;" />
            <view class="xh-column xh-mL30" style="width:600rpx;">
                <view class="xh-f-main xh-c-main xh-w xh-row">
                    <text class="xh-B xh-mR30 single-ellipsis" style="max-width:150rpx;">{{cart.address.name}}</text>
                    <text>{{cart.address.phoneSub}}</text>
                </view>
                <view class="xh-w xh-mT15 xh-c-sub xh-f-sub multi-ellipsis">{{cart.address.address_detail}}</view>
            </view>
        </view>
    </navigation>
</view>