<view class="xh-coupon-box {{cls}}">
    <view class="box-l">
        <view class="single-ellipsis coupon-title xh-f-main-i">{{coupon.title}}</view>
        <view class="single-ellipsis coupon-subtitle xh-f-sub">{{coupon.subtitle}}</view>
    </view>
    <view class="coupon-driver"> <view class="xh-coupon-sheep"></view></view>
   
    <view class="box-r">
        <view class="coupon-money xh-f-sub">{{tb}}</view>
    </view>
</view>