.home-slider-top.xh-w-750
{
  background: #fff;
  padding:0rpx 20rpx!important;
  width: auto!important
}

.home-slider-top.xh-w-750 image
{
  width: 100%!important;
}

.xh-panel.p1, .xh-panel.p2
{
  padding: 15rpx 30rpx!important;
}

.weekly-special
{
  padding:0rpx 20rpx!important;
  width: auto!important;
  background-color:#fff; 
}

.weekly-special>view
{
  width: 100%!important;
  justify-content: space-between;
}

.weekly-special>view>view
{
  width: 48.5%!important;
}

.weekly-special>view>view button
{
  width: 100%;
  margin-bottom: 20rpx;
  border-radius: 10rpx;
}

.weekly-special>view>view image
{
  width: 100%!important;
}

.xh-panel.p2
{
  background: transparent!important;
}

.white-bar
{
  background: #fff;
}


.product-group .xh-column:nth-child(1)
{
  position: relative;
  top: 214rpx;
}

.suggest-div
{
  background: transparent!important;
  margin-bottom: -228rpx; 
}

.suggest-div image
{
  width: 100%!important;
  height: 200rpx!important; 
}

.suggest-div .wxml-block
{
  width: 352rpx;
}

