				<!-- 
				  Project: Wordpress小程序
				  Author: hoter@xunhuweb.com
				  Version: v1.0.8				  Date :2019-11-18 14:12				  Copyright: xunhuweb (https://www.wpweixin.net)
				  -->
						 <import src="/templates/body.wxml" />
		 <import src="/templates/bg.wxml" />
		 <import src="/templates/footer.wxml" />
	 	 
	 	 <bar wx:if="{{templates.length}}" show="{{rightBarShow}}" cart="{{cart}}" hideHome />		 <view id="body">
		 	<template is="tpl-body" data="{{tpls:templates,config:config,cart:cart}}" />
         </view>
         <view id="footer">	
         	<template is="tpl-footer" data="{{tpl:footer,config:config,cart:cart}}" />
         </view>	
         <view id="bg">
          	<template is="tpl-bg" data="{{tpl:bg,config:config,cart:cart}}" />
         </view>
        