<loading wx:if="{{isDataLoading}}" bindtap="__on_loading_close__" hidden="{{__loading_close__}}">加载中...</loading>

<form bindsubmit="onIdcardSubmit">
    <view class="xh-mT15">
        <TITLE small title="实名认证" border_bottom />
        <view class="form-control">
            <view class="title">姓名</view>
            <input name="username" class="edit" value="{{idcardInfo.username}}" placeholder="请输入姓名" maxlength="32" />
        </view>

        <view class="form-control xh-solid-t">
            <view class="title">身份证号</view>
            <input name="idcard" class="edit" value="{{idcardInfo.idcard}}" placeholder="请输入有效身份证号" maxlength="32" />
        </view>

        <view class="xh-row  xh-c-main xh-f-main xh-pL30 xh-pT15 xh-pB15 xh-pR15 xh-panel xh-mT15" wx:if="{{license_page_id}}" style="justify-content:space-between;">
            <view class="tips multi-ellipsis" bindtap="__nav__" data-action="navigate" data-url="/pages/page/index?id={{license_page_id}}">
                <text class=" xh-c-main xh-f-main xh-c-link">{{license_title}}</text>
            </view>
            <switch name="terms" bindchange="onChange" class="switch" />
        </view>

        <button form-type="submit" class="xh-btn xh-btn-primary xh-w xh-btn-no-radius xh-mT30" hover-class="xh-btn-primary-hover">提交</button>
    </view>
</form>