<view class="xh-row xh-pL30 xh-pR15 xh-panel {{cls?cls:''}} {{border_top?' xh-solid-t':''}}">
    <view class="{{border_bottom?' xh-solid-b':''}} xh-w">
        <view class="xh-f-main xh-c-main single-ellipsis xh-mw-345 {{small?'xh-pT15 xh-pB15':'xh-pT30 xh-pB30'}} xh-B">{{title}}</view>
    </view>
</view>