<template name="wxmlVideo">
    <view class="{{item.attrs.class?item.attrs.class:''}} wxml-video" style="{{item.attrs.style?item.attrs.style:''}}">
        <video class="{{item.attrs.class?item.attrs.class:''}}" src="{{item.attrs.src}}" controls="{{item.attrs.controls != undefined ? true : false}}" loop="{{item.attrs.loop != undefined ? true : false}}" poster="{{item.attrs.poster}}"></video>
    </view>
</template>

<template name="wxmlAudio">
    <view class="{{item.attrs.class?item.attrs.class:''}} wxml-audio" style="{{item.attrs.style?item.attrs.style:''}}">
        <audio class="{{item.attrs.class?item.attrs.class:''}}" src="{{item.attrs.src}}" controls="{{item.attrs.controls != undefined ? true : false}}" loop="{{item.attrs.loop != undefined ? true : false}}" poster="{{item.attrs.poster}}" name="{{item.attrs.name}}"
            author="{{item.attrs.author}}"></audio>
    </view>
</template>

<template name="wxmlImg">
    <!--图片不能异步记载，图片宽高尺寸没固定时，在产品详情页面会出现抖动现象-->
    <image wx:if="{{disableImagePreview}}" class="{{item.attrs.class?item.attrs.class:''}} wxml-img" data-src="{{item.attrs.src}}" src="{{item.attrs.src}}" data-idx="{{item.idx}}" bindload="wxmlImgLoad" data-style="{{item.attrs.style?item.attrs.style:''}}"
        mode="widthFix" style="width:{{images[item.idx].width}}px;;{{item.attrs.style?item.attrs.style:''}}" />
    <image wx:else class="{{item.attrs.class?item.attrs.class:''}} wxml-img" data-src="{{item.attrs.src}}" src="{{item.attrs.src}}" data-idx="{{item.idx}}" bindload="wxmlImgLoad" bindtap="wxmlImgTap" data-style="{{item.attrs.style?item.attrs.style:''}}" mode="widthFix"
        style="width:{{images[item.idx].width}}px;{{item.attrs.style?item.attrs.style:''}}" />
</template>

<template name="wxmlLiType">
    <view class="wxml-li-type">
        <view class="{{item.attrs.class?item.attrs.class:''}} {{type != 'number' ? 'wxml-li-' + type : ''}}">{{type === 'number' ? idx + 1 + '. ' : ''}}</view>
    </view>
</template>

<!-- 入口 -->

<view class="html2wxml hljs-style-{{highlightStyle}} {{cls}}">
    <block wx:if="{{children == undefined}}">
        <view wx:if="{{showLoading}}" style="padding:20px 0;width:100%;display:flex;justify-content:center;align-items:center">
            <image lazy-load="{{true}}" class="loading" src="{{apiAssets}}/images/v2/icon/loading-small.gif"></image>
        </view>
    </block>
    <block wx:else>
        <block wx:for="{{children}}" wx:key="{{index}}">
            <template is="wxml0" data="{{images:images, item:item}}" />
        </block>
    </block>
</view>

<!-- 循环模版 -->

<template name="wxml0">
    <!-- button 类型 -->
    <block wx:if="{{item.name == 'button'}}">
        <button type="default" size="mini">
            <block wx:for="{{item.children}}" wx:key="{{index}}">
                <template is="wxml1" data="{{images:images, item:item}}" />
            </block>
        </button>
    </block>
    <!-- ul类型 -->
    <block wx:elif="{{item.name == 'ul'}}">
        <view class="{{item.attrs.class?item.attrs.class:''}} wxml-ul wxml-block" style="{{item.attrs.style?item.attrs.style:''}}">
            <block wx:for="{{item.children}}" wx:key="{{index}}">
                <template is="wxml1" data="{{images:images, item:item, type:item.listtype != undefined ? item.listtype : 'circle'}}" />
            </block>
        </view>
    </block>
    <!-- ol类型 -->
    <block wx:elif="{{item.name == 'ol'}}">
        <view class="{{item.attrs.class?item.attrs.class:''}} wxml-ol wxml-block" style="{{item.attrs.style?item.attrs.style:''}}">
            <block wx:for="{{item.children}}" wx:key="{{index}}">
                <template is="wxml1" data="{{images:images, item:item, type:item.listtype != undefined ? item.listtype : 'number'}}" />
            </block>
        </view>
    </block>
    <!-- li类型 -->
    <block wx:elif="{{item.name == 'li'}}">
        <view class="{{item.attrs.class?item.attrs.class:''}} wxml-li" style="{{item.attrs.style?item.attrs.style:''}}">
            <template is="wxmlLiType" data="{{item:item, idx:item.idx, type:type}}" />
            <view class="{{item.attrs.class?item.attrs.class:''}} wxml-li-text">
                <block wx:for="{{item.children}}" wx:key="{{index}}">
                    <template is="wxml1" data="{{images:images, item:item}}" />
                </block>
            </view>
        </view>
    </block>
    <!-- a类型 -->
    <block wx:elif="{{item.name == 'a'}}">

        <view bindtap="wxmlTagATap" class="wxml-inline {{item.attrs.class?item.attrs.class:''}} wxml-a" data-src="{{item.attrs.href}}" style="{{item.attrs.style?item.attrs.style:''}}" bindtap="__nav__" data-action="navigate" data-url="/pages/web-view/index?url={{item.attrs.href}}">

            <block wx:for="{{item.children}}" wx:key="{{index}}">
                <template is="wxml1" data="{{images:images, item:item,disableImagePreview:true}}" />
            </block>
        </view>

    </block>
    <!-- video类型 -->
    <block wx:elif="{{item.name == 'video'}}">
        <template is="wxmlVideo" data="{{item:item}}" />
    </block>
    <!-- audio类型 -->
    <block wx:elif="{{item.name == 'audio'}}">
        <template is="wxmlAudio" data="{{item:item}}" />
    </block>
    <!-- img类型 -->
    <block wx:elif="{{item.name == 'img'}}">
        <template is="wxmlImg" data="{{images:images, item:item,disableImagePreview:disableImagePreview}}" />
    </block>
    <!-- 纯文本类型 -->
    <block wx:elif="{{item.type=='text'}}">
        <text>{{item.text}}</text>
    </block>
    <block wx:elif="{{item.name == 'br'}}">
        <text>\n</text>
    </block>
    <!-- 其他类型 -->
    <block wx:else>
        <view class="{{item.attrs.class?item.attrs.class:''}} wxml-{{item.name}} wxml-{{item.type2}}" style="{{item.attrs.style?item.attrs.style:''}}">
            <block wx:for="{{item.children}}" wx:key="{{index}}">
                <template is="wxml1" data="{{images:images, item:item}}" />
            </block>
        </view>
    </block>
</template>

<!-- 循环模版 -->

<template name="wxml1">
    <!-- button 类型 -->
    <block wx:if="{{item.name == 'button'}}">
        <button type="default" size="mini">
            <block wx:for="{{item.children}}" wx:key="{{index}}">
                <template is="wxml2" data="{{images:images, item:item}}" />
            </block>
        </button>
    </block>
    <!-- ul类型 -->
    <block wx:elif="{{item.name == 'ul'}}">
        <view class="{{item.attrs.class?item.attrs.class:''}} wxml-ul wxml-block" style="{{item.attrs.style?item.attrs.style:''}}">
            <block wx:for="{{item.children}}" wx:key="{{index}}">
                <template is="wxml2" data="{{images:images, item:item, type:item.listtype != undefined ? item.listtype : 'circle'}}" />
            </block>
        </view>
    </block>
    <!-- ol类型 -->
    <block wx:elif="{{item.name == 'ol'}}">
        <view class="{{item.attrs.class?item.attrs.class:''}} wxml-ol wxml-block" style="{{item.attrs.style?item.attrs.style:''}}">
            <block wx:for="{{item.children}}" wx:key="{{index}}">
                <template is="wxml2" data="{{images:images, item:item, type:item.listtype != undefined ? item.listtype : 'number'}}" />
            </block>
        </view>
    </block>
    <!-- li类型 -->
    <block wx:elif="{{item.name == 'li'}}">
        <view class="{{item.attrs.class?item.attrs.class:''}} wxml-li" style="{{item.attrs.style?item.attrs.style:''}}">
            <template is="wxmlLiType" data="{{item:item, idx:item.idx, type:type}}" />
            <view class="{{item.attrs.class?item.attrs.class:''}} wxml-li-text">
                <block wx:for="{{item.children}}" wx:key="{{index}}">
                    <template is="wxml2" data="{{images:images, item:item}}" />
                </block>
            </view>
        </view>
    </block>
    <!-- a类型 -->
    <block wx:elif="{{item.name == 'a'}}">

        <view bindtap="wxmlTagATap" class="wxml-inline {{item.attrs.class?item.attrs.class:''}} wxml-a" data-src="{{item.attrs.href}}" style="{{item.attrs.style?item.attrs.style:''}}" bindtap="__nav__" data-action="navigate" data-url="/pages/web-view/index?url={{item.attrs.href}}">

            <block wx:for="{{item.children}}" wx:key="{{index}}">
                <template is="wxml2" data="{{images:images, item:item,disableImagePreview:true}}" />
            </block>
        </view>

    </block>
    <!-- video类型 -->
    <block wx:elif="{{item.name == 'video'}}">
        <template is="wxmlVideo" data="{{item:item}}" />
    </block>
    <!-- audio类型 -->
    <block wx:elif="{{item.name == 'audio'}}">
        <template is="wxmlAudio" data="{{item:item}}" />
    </block>
    <!-- img类型 -->
    <block wx:elif="{{item.name == 'img'}}">
        <template is="wxmlImg" data="{{images:images, item:item,disableImagePreview:disableImagePreview}}" />
    </block>
    <!-- 纯文本类型 -->
    <block wx:elif="{{item.type=='text'}}">
        <text>{{item.text}}</text>
    </block>
    <block wx:elif="{{item.name == 'br'}}">
        <text>\n</text>
    </block>
    <!-- 其他类型 -->
    <block wx:else>
        <view class="{{item.attrs.class?item.attrs.class:''}} wxml-{{item.name}} wxml-{{item.type2}}" style="{{item.attrs.style?item.attrs.style:''}}">
            <block wx:for="{{item.children}}" wx:key="{{index}}">
                <template is="wxml2" data="{{images:images, item:item}}" />
            </block>
        </view>
    </block>
</template>

<!-- 循环模版 -->

<template name="wxml2">
    <!-- button 类型 -->
    <block wx:if="{{item.name == 'button'}}">
        <button type="default" size="mini">
            <block wx:for="{{item.children}}" wx:key="{{index}}">
                <template is="wxml3" data="{{images:images, item:item}}" />
            </block>
        </button>
    </block>
    <!-- ul类型 -->
    <block wx:elif="{{item.name == 'ul'}}">
        <view class="{{item.attrs.class?item.attrs.class:''}} wxml-ul wxml-block" style="{{item.attrs.style?item.attrs.style:''}}">
            <block wx:for="{{item.children}}" wx:key="{{index}}">
                <template is="wxml3" data="{{images:images, item:item, type:item.listtype != undefined ? item.listtype : 'circle'}}" />
            </block>
        </view>
    </block>
    <!-- ol类型 -->
    <block wx:elif="{{item.name == 'ol'}}">
        <view class="{{item.attrs.class?item.attrs.class:''}} wxml-ol wxml-block" style="{{item.attrs.style?item.attrs.style:''}}">
            <block wx:for="{{item.children}}" wx:key="{{index}}">
                <template is="wxml3" data="{{images:images, item:item, type:item.listtype != undefined ? item.listtype : 'number'}}" />
            </block>
        </view>
    </block>
    <!-- li类型 -->
    <block wx:elif="{{item.name == 'li'}}">
        <view class="{{item.attrs.class?item.attrs.class:''}} wxml-li" style="{{item.attrs.style?item.attrs.style:''}}">
            <template is="wxmlLiType" data="{{item:item, idx:item.idx, type:type}}" />
            <view class="{{item.attrs.class?item.attrs.class:''}} wxml-li-text">
                <block wx:for="{{item.children}}" wx:key="{{index}}">
                    <template is="wxml3" data="{{images:images, item:item}}" />
                </block>
            </view>
        </view>
    </block>
    <!-- a类型 -->
    <block wx:elif="{{item.name == 'a'}}">

        <view bindtap="wxmlTagATap" class="wxml-inline {{item.attrs.class?item.attrs.class:''}} wxml-a" data-src="{{item.attrs.href}}" style="{{item.attrs.style?item.attrs.style:''}}" bindtap="__nav__" data-action="navigate" data-url="/pages/web-view/index?url={{item.attrs.href}}">

            <block wx:for="{{item.children}}" wx:key="{{index}}">
                <template is="wxml3" data="{{images:images, item:item,disableImagePreview:true}}" />
            </block>
        </view>

    </block>
    <!-- video类型 -->
    <block wx:elif="{{item.name == 'video'}}">
        <template is="wxmlVideo" data="{{item:item}}" />
    </block>
    <!-- audio类型 -->
    <block wx:elif="{{item.name == 'audio'}}">
        <template is="wxmlAudio" data="{{item:item}}" />
    </block>
    <!-- img类型 -->
    <block wx:elif="{{item.name == 'img'}}">
        <template is="wxmlImg" data="{{images:images, item:item,disableImagePreview:disableImagePreview}}" />
    </block>
    <!-- 纯文本类型 -->
    <block wx:elif="{{item.type=='text'}}">
        <text>{{item.text}}</text>
    </block>
    <block wx:elif="{{item.name == 'br'}}">
        <text>\n</text>
    </block>
    <!-- 其他类型 -->
    <block wx:else>
        <view class="{{item.attrs.class?item.attrs.class:''}} wxml-{{item.name}} wxml-{{item.type2}}" style="{{item.attrs.style?item.attrs.style:''}}">
            <block wx:for="{{item.children}}" wx:key="{{index}}">
                <template is="wxml3" data="{{images:images, item:item}}" />
            </block>
        </view>
    </block>
</template>

<!-- 循环模版 -->

<template name="wxml3">
    <!-- button 类型 -->
    <block wx:if="{{item.name == 'button'}}">
        <button type="default" size="mini">
            <block wx:for="{{item.children}}" wx:key="{{index}}">
                <template is="wxml4" data="{{images:images, item:item}}" />
            </block>
        </button>
    </block>
    <!-- ul类型 -->
    <block wx:elif="{{item.name == 'ul'}}">
        <view class="{{item.attrs.class?item.attrs.class:''}} wxml-ul wxml-block" style="{{item.attrs.style?item.attrs.style:''}}">
            <block wx:for="{{item.children}}" wx:key="{{index}}">
                <template is="wxml4" data="{{images:images, item:item, type:item.listtype != undefined ? item.listtype : 'circle'}}" />
            </block>
        </view>
    </block>
    <!-- ol类型 -->
    <block wx:elif="{{item.name == 'ol'}}">
        <view class="{{item.attrs.class?item.attrs.class:''}} wxml-ol wxml-block" style="{{item.attrs.style?item.attrs.style:''}}">
            <block wx:for="{{item.children}}" wx:key="{{index}}">
                <template is="wxml4" data="{{images:images, item:item, type:item.listtype != undefined ? item.listtype : 'number'}}" />
            </block>
        </view>
    </block>
    <!-- li类型 -->
    <block wx:elif="{{item.name == 'li'}}">
        <view class="{{item.attrs.class?item.attrs.class:''}} wxml-li" style="{{item.attrs.style?item.attrs.style:''}}">
            <template is="wxmlLiType" data="{{item:item, idx:item.idx, type:type}}" />
            <view class="{{item.attrs.class?item.attrs.class:''}} wxml-li-text">
                <block wx:for="{{item.children}}" wx:key="{{index}}">
                    <template is="wxml4" data="{{images:images, item:item}}" />
                </block>
            </view>
        </view>
    </block>
    <!-- a类型 -->
    <block wx:elif="{{item.name == 'a'}}">

        <view bindtap="wxmlTagATap" class="wxml-inline {{item.attrs.class?item.attrs.class:''}} wxml-a" data-src="{{item.attrs.href}}" style="{{item.attrs.style?item.attrs.style:''}}" bindtap="__nav__" data-action="navigate" data-url="/pages/web-view/index?url={{item.attrs.href}}">

            <block wx:for="{{item.children}}" wx:key="{{index}}">
                <template is="wxml4" data="{{images:images, item:item,disableImagePreview:true}}" />
            </block>
        </view>

    </block>
    <!-- video类型 -->
    <block wx:elif="{{item.name == 'video'}}">
        <template is="wxmlVideo" data="{{item:item}}" />
    </block>
    <!-- audio类型 -->
    <block wx:elif="{{item.name == 'audio'}}">
        <template is="wxmlAudio" data="{{item:item}}" />
    </block>
    <!-- img类型 -->
    <block wx:elif="{{item.name == 'img'}}">
        <template is="wxmlImg" data="{{images:images, item:item,disableImagePreview:disableImagePreview}}" />
    </block>
    <!-- 纯文本类型 -->
    <block wx:elif="{{item.type=='text'}}">
        <text>{{item.text}}</text>
    </block>
    <block wx:elif="{{item.name == 'br'}}">
        <text>\n</text>
    </block>
    <!-- 其他类型 -->
    <block wx:else>
        <view class="{{item.attrs.class?item.attrs.class:''}} wxml-{{item.name}} wxml-{{item.type2}}" style="{{item.attrs.style?item.attrs.style:''}}">
            <block wx:for="{{item.children}}" wx:key="{{index}}">
                <template is="wxml4" data="{{images:images, item:item}}" />
            </block>
        </view>
    </block>
</template>

<!-- 循环模版 -->

<template name="wxml4">
    <!-- button 类型 -->
    <block wx:if="{{item.name == 'button'}}">
        <button type="default" size="mini">
            <block wx:for="{{item.children}}" wx:key="{{index}}">
                <template is="wxml5" data="{{images:images, item:item}}" />
            </block>
        </button>
    </block>
    <!-- ul类型 -->
    <block wx:elif="{{item.name == 'ul'}}">
        <view class="{{item.attrs.class?item.attrs.class:''}} wxml-ul wxml-block" style="{{item.attrs.style?item.attrs.style:''}}">
            <block wx:for="{{item.children}}" wx:key="{{index}}">
                <template is="wxml5" data="{{images:images, item:item, type:item.listtype != undefined ? item.listtype : 'circle'}}" />
            </block>
        </view>
    </block>
    <!-- ol类型 -->
    <block wx:elif="{{item.name == 'ol'}}">
        <view class="{{item.attrs.class?item.attrs.class:''}} wxml-ol wxml-block" style="{{item.attrs.style?item.attrs.style:''}}">
            <block wx:for="{{item.children}}" wx:key="{{index}}">
                <template is="wxml5" data="{{images:images, item:item, type:item.listtype != undefined ? item.listtype : 'number'}}" />
            </block>
        </view>
    </block>
    <!-- li类型 -->
    <block wx:elif="{{item.name == 'li'}}">
        <view class="{{item.attrs.class?item.attrs.class:''}} wxml-li" style="{{item.attrs.style?item.attrs.style:''}}">
            <template is="wxmlLiType" data="{{item:item, idx:item.idx, type:type}}" />
            <view class="{{item.attrs.class?item.attrs.class:''}} wxml-li-text">
                <block wx:for="{{item.children}}" wx:key="{{index}}">
                    <template is="wxml5" data="{{images:images, item:item}}" />
                </block>
            </view>
        </view>
    </block>
    <!-- a类型 -->
    <block wx:elif="{{item.name == 'a'}}">

        <view bindtap="wxmlTagATap" class="wxml-inline {{item.attrs.class?item.attrs.class:''}} wxml-a" data-src="{{item.attrs.href}}" style="{{item.attrs.style?item.attrs.style:''}}" bindtap="__nav__" data-action="navigate" data-url="/pages/web-view/index?url={{item.attrs.href}}">

            <block wx:for="{{item.children}}" wx:key="{{index}}">
                <template is="wxml5" data="{{images:images, item:item,disableImagePreview:true}}" />
            </block>
        </view>

    </block>
    <!-- video类型 -->
    <block wx:elif="{{item.name == 'video'}}">
        <template is="wxmlVideo" data="{{item:item}}" />
    </block>
    <!-- audio类型 -->
    <block wx:elif="{{item.name == 'audio'}}">
        <template is="wxmlAudio" data="{{item:item}}" />
    </block>
    <!-- img类型 -->
    <block wx:elif="{{item.name == 'img'}}">
        <template is="wxmlImg" data="{{images:images, item:item,disableImagePreview:disableImagePreview}}" />
    </block>
    <!-- 纯文本类型 -->
    <block wx:elif="{{item.type=='text'}}">
        <text>{{item.text}}</text>
    </block>
    <block wx:elif="{{item.name == 'br'}}">
        <text>\n</text>
    </block>
    <!-- 其他类型 -->
    <block wx:else>
        <view class="{{item.attrs.class?item.attrs.class:''}} wxml-{{item.name}} wxml-{{item.type2}}" style="{{item.attrs.style?item.attrs.style:''}}">
            <block wx:for="{{item.children}}" wx:key="{{index}}">
                <template is="wxml5" data="{{images:images, item:item}}" />
            </block>
        </view>
    </block>
</template>

<!-- 循环模版 -->

<template name="wxml5">
    <!-- button 类型 -->
    <block wx:if="{{item.name == 'button'}}">
        <button type="default" size="mini">
            <block wx:for="{{item.children}}" wx:key="{{index}}">
                <template is="wxml6" data="{{images:images, item:item}}" />
            </block>
        </button>
    </block>
    <!-- ul类型 -->
    <block wx:elif="{{item.name == 'ul'}}">
        <view class="{{item.attrs.class?item.attrs.class:''}} wxml-ul wxml-block" style="{{item.attrs.style?item.attrs.style:''}}">
            <block wx:for="{{item.children}}" wx:key="{{index}}">
                <template is="wxml6" data="{{images:images, item:item, type:item.listtype != undefined ? item.listtype : 'circle'}}" />
            </block>
        </view>
    </block>
    <!-- ol类型 -->
    <block wx:elif="{{item.name == 'ol'}}">
        <view class="{{item.attrs.class?item.attrs.class:''}} wxml-ol wxml-block" style="{{item.attrs.style?item.attrs.style:''}}">
            <block wx:for="{{item.children}}" wx:key="{{index}}">
                <template is="wxml6" data="{{images:images, item:item, type:item.listtype != undefined ? item.listtype : 'number'}}" />
            </block>
        </view>
    </block>
    <!-- li类型 -->
    <block wx:elif="{{item.name == 'li'}}">
        <view class="{{item.attrs.class?item.attrs.class:''}} wxml-li" style="{{item.attrs.style?item.attrs.style:''}}">
            <template is="wxmlLiType" data="{{item:item, idx:item.idx, type:type}}" />
            <view class="{{item.attrs.class?item.attrs.class:''}} wxml-li-text">
                <block wx:for="{{item.children}}" wx:key="{{index}}">
                    <template is="wxml6" data="{{images:images, item:item}}" />
                </block>
            </view>
        </view>
    </block>
    <!-- a类型 -->
    <block wx:elif="{{item.name == 'a'}}">

        <view bindtap="wxmlTagATap" class="wxml-inline {{item.attrs.class?item.attrs.class:''}} wxml-a" data-src="{{item.attrs.href}}" style="{{item.attrs.style?item.attrs.style:''}}" bindtap="__nav__" data-action="navigate" data-url="/pages/web-view/index?url={{item.attrs.href}}">

            <block wx:for="{{item.children}}" wx:key="{{index}}">
                <template is="wxml6" data="{{images:images, item:item,disableImagePreview:true}}" />
            </block>
        </view>

    </block>
    <!-- video类型 -->
    <block wx:elif="{{item.name == 'video'}}">
        <template is="wxmlVideo" data="{{item:item}}" />
    </block>
    <!-- audio类型 -->
    <block wx:elif="{{item.name == 'audio'}}">
        <template is="wxmlAudio" data="{{item:item}}" />
    </block>
    <!-- img类型 -->
    <block wx:elif="{{item.name == 'img'}}">
        <template is="wxmlImg" data="{{images:images, item:item,disableImagePreview:disableImagePreview}}" />
    </block>
    <!-- 纯文本类型 -->
    <block wx:elif="{{item.type=='text'}}">
        <text>{{item.text}}</text>
    </block>
    <block wx:elif="{{item.name == 'br'}}">
        <text>\n</text>
    </block>
    <!-- 其他类型 -->
    <block wx:else>
        <view class="{{item.attrs.class?item.attrs.class:''}} wxml-{{item.name}} wxml-{{item.type2}}" style="{{item.attrs.style?item.attrs.style:''}}">
            <block wx:for="{{item.children}}" wx:key="{{index}}">
                <template is="wxml6" data="{{images:images, item:item}}" />
            </block>
        </view>
    </block>
</template>

<!-- 循环模版 -->

<template name="wxml6">
    <!-- button 类型 -->
    <block wx:if="{{item.name == 'button'}}">
        <button type="default" size="mini">
            <block wx:for="{{item.children}}" wx:key="{{index}}">
                <template is="wxml7" data="{{images:images, item:item}}" />
            </block>
        </button>
    </block>
    <!-- ul类型 -->
    <block wx:elif="{{item.name == 'ul'}}">
        <view class="{{item.attrs.class?item.attrs.class:''}} wxml-ul wxml-block" style="{{item.attrs.style?item.attrs.style:''}}">
            <block wx:for="{{item.children}}" wx:key="{{index}}">
                <template is="wxml7" data="{{images:images, item:item, type:item.listtype != undefined ? item.listtype : 'circle'}}" />
            </block>
        </view>
    </block>
    <!-- ol类型 -->
    <block wx:elif="{{item.name == 'ol'}}">
        <view class="{{item.attrs.class?item.attrs.class:''}} wxml-ol wxml-block" style="{{item.attrs.style?item.attrs.style:''}}">
            <block wx:for="{{item.children}}" wx:key="{{index}}">
                <template is="wxml7" data="{{images:images, item:item, type:item.listtype != undefined ? item.listtype : 'number'}}" />
            </block>
        </view>
    </block>
    <!-- li类型 -->
    <block wx:elif="{{item.name == 'li'}}">
        <view class="{{item.attrs.class?item.attrs.class:''}} wxml-li" style="{{item.attrs.style?item.attrs.style:''}}">
            <template is="wxmlLiType" data="{{item:item, idx:item.idx, type:type}}" />
            <view class="{{item.attrs.class?item.attrs.class:''}} wxml-li-text">
                <block wx:for="{{item.children}}" wx:key="{{index}}">
                    <template is="wxml7" data="{{images:images, item:item}}" />
                </block>
            </view>
        </view>
    </block>
    <!-- a类型 -->
    <block wx:elif="{{item.name == 'a'}}">

        <view bindtap="wxmlTagATap" class="wxml-inline {{item.attrs.class?item.attrs.class:''}} wxml-a" data-src="{{item.attrs.href}}" style="{{item.attrs.style?item.attrs.style:''}}" bindtap="__nav__" data-action="navigate" data-url="/pages/web-view/index?url={{item.attrs.href}}">

            <block wx:for="{{item.children}}" wx:key="{{index}}">
                <template is="wxml7" data="{{images:images, item:item,disableImagePreview:true}}" />
            </block>
        </view>

    </block>
    <!-- video类型 -->
    <block wx:elif="{{item.name == 'video'}}">
        <template is="wxmlVideo" data="{{item:item}}" />
    </block>
    <!-- audio类型 -->
    <block wx:elif="{{item.name == 'audio'}}">
        <template is="wxmlAudio" data="{{item:item}}" />
    </block>
    <!-- img类型 -->
    <block wx:elif="{{item.name == 'img'}}">
        <template is="wxmlImg" data="{{images:images, item:item,disableImagePreview:disableImagePreview}}" />
    </block>
    <!-- 纯文本类型 -->
    <block wx:elif="{{item.type=='text'}}">
        <text>{{item.text}}</text>
    </block>
    <block wx:elif="{{item.name == 'br'}}">
        <text>\n</text>
    </block>
    <!-- 其他类型 -->
    <block wx:else>
        <view class="{{item.attrs.class?item.attrs.class:''}} wxml-{{item.name}} wxml-{{item.type2}}" style="{{item.attrs.style?item.attrs.style:''}}">
            <block wx:for="{{item.children}}" wx:key="{{index}}">
                <template is="wxml7" data="{{images:images, item:item}}" />
            </block>
        </view>
    </block>
</template>

<!-- 循环模版 -->

<template name="wxml7">
    <!-- button 类型 -->
    <block wx:if="{{item.name == 'button'}}">
        <button type="default" size="mini">
            <block wx:for="{{item.children}}" wx:key="{{index}}">
                <template is="wxml8" data="{{images:images, item:item}}" />
            </block>
        </button>
    </block>
    <!-- ul类型 -->
    <block wx:elif="{{item.name == 'ul'}}">
        <view class="{{item.attrs.class?item.attrs.class:''}} wxml-ul wxml-block" style="{{item.attrs.style?item.attrs.style:''}}">
            <block wx:for="{{item.children}}" wx:key="{{index}}">
                <template is="wxml8" data="{{images:images, item:item, type:item.listtype != undefined ? item.listtype : 'circle'}}" />
            </block>
        </view>
    </block>
    <!-- ol类型 -->
    <block wx:elif="{{item.name == 'ol'}}">
        <view class="{{item.attrs.class?item.attrs.class:''}} wxml-ol wxml-block" style="{{item.attrs.style?item.attrs.style:''}}">
            <block wx:for="{{item.children}}" wx:key="{{index}}">
                <template is="wxml8" data="{{images:images, item:item, type:item.listtype != undefined ? item.listtype : 'number'}}" />
            </block>
        </view>
    </block>
    <!-- li类型 -->
    <block wx:elif="{{item.name == 'li'}}">
        <view class="{{item.attrs.class?item.attrs.class:''}} wxml-li" style="{{item.attrs.style?item.attrs.style:''}}">
            <template is="wxmlLiType" data="{{item:item, idx:item.idx, type:type}}" />
            <view class="{{item.attrs.class?item.attrs.class:''}} wxml-li-text">
                <block wx:for="{{item.children}}" wx:key="{{index}}">
                    <template is="wxml8" data="{{images:images, item:item}}" />
                </block>
            </view>
        </view>
    </block>
    <!-- a类型 -->
    <block wx:elif="{{item.name == 'a'}}">

        <view bindtap="wxmlTagATap" class="wxml-inline {{item.attrs.class?item.attrs.class:''}} wxml-a" data-src="{{item.attrs.href}}" style="{{item.attrs.style?item.attrs.style:''}}" bindtap="__nav__" data-action="navigate" data-url="/pages/web-view/index?url={{item.attrs.href}}">

            <block wx:for="{{item.children}}" wx:key="{{index}}">
                <template is="wxml8" data="{{images:images, item:item,disableImagePreview:true}}" />
            </block>
        </view>

    </block>
    <!-- video类型 -->
    <block wx:elif="{{item.name == 'video'}}">
        <template is="wxmlVideo" data="{{item:item}}" />
    </block>
    <!-- audio类型 -->
    <block wx:elif="{{item.name == 'audio'}}">
        <template is="wxmlAudio" data="{{item:item}}" />
    </block>
    <!-- img类型 -->
    <block wx:elif="{{item.name == 'img'}}">
        <template is="wxmlImg" data="{{images:images, item:item,disableImagePreview:disableImagePreview}}" />
    </block>
    <!-- 纯文本类型 -->
    <block wx:elif="{{item.type=='text'}}">
        <text>{{item.text}}</text>
    </block>
    <block wx:elif="{{item.name == 'br'}}">
        <text>\n</text>
    </block>
    <!-- 其他类型 -->
    <block wx:else>
        <view class="{{item.attrs.class?item.attrs.class:''}} wxml-{{item.name}} wxml-{{item.type2}}" style="{{item.attrs.style?item.attrs.style:''}}">
            <block wx:for="{{item.children}}" wx:key="{{index}}">
                <template is="wxml8" data="{{images:images, item:item}}" />
            </block>
        </view>
    </block>
</template>

<!-- 循环模版 -->

<template name="wxml8">
    <!-- button 类型 -->
    <block wx:if="{{item.name == 'button'}}">
        <button type="default" size="mini">
            <block wx:for="{{item.children}}" wx:key="{{index}}">
                <template is="wxml9" data="{{images:images, item:item}}" />
            </block>
        </button>
    </block>
    <!-- ul类型 -->
    <block wx:elif="{{item.name == 'ul'}}">
        <view class="{{item.attrs.class?item.attrs.class:''}} wxml-ul wxml-block" style="{{item.attrs.style?item.attrs.style:''}}">
            <block wx:for="{{item.children}}" wx:key="{{index}}">
                <template is="wxml9" data="{{images:images, item:item, type:item.listtype != undefined ? item.listtype : 'circle'}}" />
            </block>
        </view>
    </block>
    <!-- ol类型 -->
    <block wx:elif="{{item.name == 'ol'}}">
        <view class="{{item.attrs.class?item.attrs.class:''}} wxml-ol wxml-block" style="{{item.attrs.style?item.attrs.style:''}}">
            <block wx:for="{{item.children}}" wx:key="{{index}}">
                <template is="wxml9" data="{{images:images, item:item, type:item.listtype != undefined ? item.listtype : 'number'}}" />
            </block>
        </view>
    </block>
    <!-- li类型 -->
    <block wx:elif="{{item.name == 'li'}}">
        <view class="{{item.attrs.class?item.attrs.class:''}} wxml-li" style="{{item.attrs.style?item.attrs.style:''}}">
            <template is="wxmlLiType" data="{{item:item, idx:item.idx, type:type}}" />
            <view class="{{item.attrs.class?item.attrs.class:''}} wxml-li-text">
                <block wx:for="{{item.children}}" wx:key="{{index}}">
                    <template is="wxml9" data="{{images:images, item:item}}" />
                </block>
            </view>
        </view>
    </block>
    <!-- a类型 -->
    <block wx:elif="{{item.name == 'a'}}">

        <view bindtap="wxmlTagATap" class="wxml-inline {{item.attrs.class?item.attrs.class:''}} wxml-a" data-src="{{item.attrs.href}}" style="{{item.attrs.style?item.attrs.style:''}}" bindtap="__nav__" data-action="navigate" data-url="/pages/web-view/index?url={{item.attrs.href}}">

            <block wx:for="{{item.children}}" wx:key="{{index}}">
                <template is="wxml9" data="{{images:images, item:item,disableImagePreview:true}}" />
            </block>
        </view>

    </block>
    <!-- video类型 -->
    <block wx:elif="{{item.name == 'video'}}">
        <template is="wxmlVideo" data="{{item:item}}" />
    </block>
    <!-- audio类型 -->
    <block wx:elif="{{item.name == 'audio'}}">
        <template is="wxmlAudio" data="{{item:item}}" />
    </block>
    <!-- img类型 -->
    <block wx:elif="{{item.name == 'img'}}">
        <template is="wxmlImg" data="{{images:images, item:item,disableImagePreview:disableImagePreview}}" />
    </block>
    <!-- 纯文本类型 -->
    <block wx:elif="{{item.type=='text'}}">
        <text>{{item.text}}</text>
    </block>
    <block wx:elif="{{item.name == 'br'}}">
        <text>\n</text>
    </block>
    <!-- 其他类型 -->
    <block wx:else>
        <view class="{{item.attrs.class?item.attrs.class:''}} wxml-{{item.name}} wxml-{{item.type2}}" style="{{item.attrs.style?item.attrs.style:''}}">
            <block wx:for="{{item.children}}" wx:key="{{index}}">
                <template is="wxml9" data="{{images:images, item:item}}" />
            </block>
        </view>
    </block>
</template>

<!-- 循环模版 -->

<template name="wxml9">
    <!-- button 类型 -->
    <block wx:if="{{item.name == 'button'}}">
        <button type="default" size="mini">
            <block wx:for="{{item.children}}" wx:key="{{index}}">
                <template is="wxml10" data="{{images:images, item:item}}" />
            </block>
        </button>
    </block>
    <!-- ul类型 -->
    <block wx:elif="{{item.name == 'ul'}}">
        <view class="{{item.attrs.class?item.attrs.class:''}} wxml-ul wxml-block" style="{{item.attrs.style?item.attrs.style:''}}">
            <block wx:for="{{item.children}}" wx:key="{{index}}">
                <template is="wxml10" data="{{images:images, item:item, type:item.listtype != undefined ? item.listtype : 'circle'}}" />
            </block>
        </view>
    </block>
    <!-- ol类型 -->
    <block wx:elif="{{item.name == 'ol'}}">
        <view class="{{item.attrs.class?item.attrs.class:''}} wxml-ol wxml-block" style="{{item.attrs.style?item.attrs.style:''}}">
            <block wx:for="{{item.children}}" wx:key="{{index}}">
                <template is="wxml10" data="{{images:images, item:item, type:item.listtype != undefined ? item.listtype : 'number'}}" />
            </block>
        </view>
    </block>
    <!-- li类型 -->
    <block wx:elif="{{item.name == 'li'}}">
        <view class="{{item.attrs.class?item.attrs.class:''}} wxml-li" style="{{item.attrs.style?item.attrs.style:''}}">
            <template is="wxmlLiType" data="{{item:item, idx:item.idx, type:type}}" />
            <view class="{{item.attrs.class?item.attrs.class:''}} wxml-li-text">
                <block wx:for="{{item.children}}" wx:key="{{index}}">
                    <template is="wxml10" data="{{images:images, item:item}}" />
                </block>
            </view>
        </view>
    </block>
    <!-- a类型 -->
    <block wx:elif="{{item.name == 'a'}}">

        <view bindtap="wxmlTagATap" class="wxml-inline {{item.attrs.class?item.attrs.class:''}} wxml-a" data-src="{{item.attrs.href}}" style="{{item.attrs.style?item.attrs.style:''}}" bindtap="__nav__" data-action="navigate" data-url="/pages/web-view/index?url={{item.attrs.href}}">

            <block wx:for="{{item.children}}" wx:key="{{index}}">
                <template is="wxml10" data="{{images:images, item:item,disableImagePreview:true}}" />
            </block>
        </view>

    </block>
    <!-- video类型 -->
    <block wx:elif="{{item.name == 'video'}}">
        <template is="wxmlVideo" data="{{item:item}}" />
    </block>
    <!-- audio类型 -->
    <block wx:elif="{{item.name == 'audio'}}">
        <template is="wxmlAudio" data="{{item:item}}" />
    </block>
    <!-- img类型 -->
    <block wx:elif="{{item.name == 'img'}}">
        <template is="wxmlImg" data="{{images:images, item:item,disableImagePreview:disableImagePreview}}" />
    </block>
    <!-- 纯文本类型 -->
    <block wx:elif="{{item.type=='text'}}">
        <text>{{item.text}}</text>
    </block>
    <block wx:elif="{{item.name == 'br'}}">
        <text>\n</text>
    </block>
    <!-- 其他类型 -->
    <block wx:else>
        <view class="{{item.attrs.class?item.attrs.class:''}} wxml-{{item.name}} wxml-{{item.type2}}" style="{{item.attrs.style?item.attrs.style:''}}">
            <block wx:for="{{item.children}}" wx:key="{{index}}">
                <template is="wxml10" data="{{images:images, item:item}}" />
            </block>
        </view>
    </block>
</template>

<!-- 循环模版 -->

<template name="wxml10">
    <!-- button 类型 -->
    <block wx:if="{{item.name == 'button'}}">
        <button type="default" size="mini">
            <block wx:for="{{item.children}}" wx:key="{{index}}">
                <template is="wxml11" data="{{images:images, item:item}}" />
            </block>
        </button>
    </block>
    <!-- ul类型 -->
    <block wx:elif="{{item.name == 'ul'}}">
        <view class="{{item.attrs.class?item.attrs.class:''}} wxml-ul wxml-block" style="{{item.attrs.style?item.attrs.style:''}}">
            <block wx:for="{{item.children}}" wx:key="{{index}}">
                <template is="wxml11" data="{{images:images, item:item, type:item.listtype != undefined ? item.listtype : 'circle'}}" />
            </block>
        </view>
    </block>
    <!-- ol类型 -->
    <block wx:elif="{{item.name == 'ol'}}">
        <view class="{{item.attrs.class?item.attrs.class:''}} wxml-ol wxml-block" style="{{item.attrs.style?item.attrs.style:''}}">
            <block wx:for="{{item.children}}" wx:key="{{index}}">
                <template is="wxml11" data="{{images:images, item:item, type:item.listtype != undefined ? item.listtype : 'number'}}" />
            </block>
        </view>
    </block>
    <!-- li类型 -->
    <block wx:elif="{{item.name == 'li'}}">
        <view class="{{item.attrs.class?item.attrs.class:''}} wxml-li" style="{{item.attrs.style?item.attrs.style:''}}">
            <template is="wxmlLiType" data="{{item:item, idx:item.idx, type:type}}" />
            <view class="{{item.attrs.class?item.attrs.class:''}} wxml-li-text">
                <block wx:for="{{item.children}}" wx:key="{{index}}">
                    <template is="wxml11" data="{{images:images, item:item}}" />
                </block>
            </view>
        </view>
    </block>
    <!-- a类型 -->
    <block wx:elif="{{item.name == 'a'}}">

        <view bindtap="wxmlTagATap" class="wxml-inline {{item.attrs.class?item.attrs.class:''}} wxml-a" data-src="{{item.attrs.href}}" style="{{item.attrs.style?item.attrs.style:''}}" bindtap="__nav__" data-action="navigate" data-url="/pages/web-view/index?url={{item.attrs.href}}">

            <block wx:for="{{item.children}}" wx:key="{{index}}">
                <template is="wxml11" data="{{images:images, item:item,disableImagePreview:true}}" />
            </block>
        </view>

    </block>
    <!-- video类型 -->
    <block wx:elif="{{item.name == 'video'}}">
        <template is="wxmlVideo" data="{{item:item}}" />
    </block>
    <!-- audio类型 -->
    <block wx:elif="{{item.name == 'audio'}}">
        <template is="wxmlAudio" data="{{item:item}}" />
    </block>
    <!-- img类型 -->
    <block wx:elif="{{item.name == 'img'}}">
        <template is="wxmlImg" data="{{images:images, item:item,disableImagePreview:disableImagePreview}}" />
    </block>
    <!-- 纯文本类型 -->
    <block wx:elif="{{item.type=='text'}}">
        <text>{{item.text}}</text>
    </block>
    <block wx:elif="{{item.name == 'br'}}">
        <text>\n</text>
    </block>
    <!-- 其他类型 -->
    <block wx:else>
        <view class="{{item.attrs.class?item.attrs.class:''}} wxml-{{item.name}} wxml-{{item.type2}}" style="{{item.attrs.style?item.attrs.style:''}}">
            <block wx:for="{{item.children}}" wx:key="{{index}}">
                <template is="wxml11" data="{{images:images, item:item}}" />
            </block>
        </view>
    </block>
</template>