<view class="xh-row xh-w-750 xh-p30 xh-row-c xh-column-c xh-panel xh-solid-t">
    <image src="{{apiAssets}}/images/wechat.png" style="width:60rpx;height:60rpx;" />
    <text class="xh-c-main xh-f-big xh-mL15">微信支付收银台</text>
</view>


<view class="xh-column xh-w-750 xh-row-c xh-column-c" style="padding-top:100rpx;padding-bottom:100rpx">
    <image src="{{headimgurl?headimgurl:(apiAssets+'/images/empty.png')}}" style="width:150rpx;height:150rpx;border-radius:120rpx;" />
    <text class="xh-c-main xh-f-big xh-mT30 xh-B">￥{{total_amount?total_amount:'NaN'}}</text>
</view>

<view class="xh-column xh-p30 XH-W-750">
    <button bindtap="onConfirm" class="xh-btn xh-btn-sm xh-pay-primary xh-btn-no-radius xh-w" hover-class="xh-pay-primary-hover">微信支付</button>

    <button bindtap="onCancel" class="xh-btn xh-btn-sm xh-pay-default xh-mT30 xh-btn-no-radius xh-w" hover-class="xh-pay-default-hover">取消支付</button>
</view>

<view style="position:fixed;bottom:0;" bindtap="__common_event_tap__" data-action="navigate" data-url="/pages/web-view/index" data-params="id=https%3A%2F%2Fwww.xunhupay.com" class="xh-w-750 xh-c-sub ch-f-small xh-p30 xh-column xh-row-c xh-column-c">
    <text>由虎皮椒提供技术服务</text>
    <text>www.xunhupay.com</text>
</view>