@import "/templates/comment/comment.wxss";
.page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 750rpx;
}

.article-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.article-title {
    font-size: 36rpx;
    font-weight: 300;
    text-align: left;
    width: 690rpx;
}

.article-content .date {
    margin-top: 20rpx;
}

/* .article .date::before, .article .date::after {
  content: '';
  display: inline-block;
  position: relative;
  width: 70rpx;
  height: 2rpx;
  margin: 20rpx;
  background-color: #979797;
} */

.form {
    margin-top: 200rpx;
}

.form-header {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30rpx;
}

.form-header input {
    height: 50rpx;
    padding: 10rpx;
    border: 1rpx solid gray;
    border-radius: 10rpx;
}

.form-submit {
    position: fixed;
    left: 0;
    top: 500rpx;
    width: 100%;
    background-color: #1ae642;
    color: #fff;
    border: 1rpx solid #1ae642;
}

.form-submit:active {
    background-color: #fff;
    color: #1ae642;
}

.relation-product-container {
    display: flex;
    flex-direction: column;
    margin-top: 15rpx;
}

.relation-product-container .the-title {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1rpx #f3f3f3;
    padding: 30rpx;
    background: #fff;
}

.v-checkout {
    padding-bottom: 10rpx;
}

.v-checkout-hascount {
    padding-bottom: 210rpx;
}

.bg-white {
    background-color: #fff;
}

.mt30 {
    margin-top: 30rpx;
}

.hide {
    display: none;
}

.boutique {
    padding: 0 30rpx;
}
