<scroll-view class="xh-scroll" scroll-x>
    <block wx:for="{{productInfo.comment.items}}" wx:key="{{index}}">
        <view class='comment-swip-item xh-panel-main'>
            <view class='comment-detail'>
                <view class='comment-detail-header'>
                    <view style="display:flex;flex-direction:row;align-items:center;">
                        <image class='comment-author-img' src='{{item.authorImg}}'></image>
                        <view class='comment-author xh-c-main xh-f-sub single-ellipsis' style="max-width:150rpx;">{{item.author}}</view>
                    </view>
                    <view class='comment-stars'>
                        <image wx:if="{{item.rating>=1}}" class='star-img' src="{{apiAssets}}/images/icon/order/star-ed3f14.png" />
                        <image wx:if="{{item.rating>=2}}" class='star-img' src="{{apiAssets}}/images/icon/order/star-ed3f14.png" />
                        <image wx:if="{{item.rating>=3}}" class='star-img' src="{{apiAssets}}/images/icon/order/star-ed3f14.png" />
                        <image wx:if="{{item.rating>=4}}" class='star-img' src="{{apiAssets}}/images/icon/order/star-ed3f14.png" />
                        <image wx:if="{{item.rating>=5}}" class='star-img' src="{{apiAssets}}/images/icon/order/star-ed3f14.png" />
                    </view>
                </view>
                <view class='comment-detail-content-container'>
                    <view class='comment-detail-content xh-c-sub xh-f-sub multi-ellipsis'>{{item.content}}</view>
                    <image wx:if="{{item.imgs.length}}" src='{{item.imgs[0]}}' mode="aspectFill" class='comment-img' />
                </view>
            </view>

        </view>
    </block>
    <view class='comment-more xh-panel-main'>
        <view class='comment-more-txt' border_bottom bindtap="__nav__" data-action="navigate" data-url="/package_a/pages/product/comment-list/index?id={{productInfo.id}}">
            <view class='comment-more-txt1 xh-c-main xh-f-mainx'>查看更多</view>
            <view class='comment-more-txt2 xh-c-sub xh-f-sub xh-solid-t'>more</view>
        </view>
    </view>
</scroll-view>