				<!-- 
				  Project: Wordpress小程序
				  Author: hoter@xunhuweb.com
				  Version: v1.0.8				  Date :2019-11-18 14:12				  Copyright: xunhuweb (https://www.wpweixin.net)
				  -->
					    <view class="btn-right-ll xh-solid-l">
            <form bindsubmit="addNow" class="btn-form" report-submit-timeout="3000" report-submit="true">
                <button class="xh-btn xh-btn-no-radius xh-btn-default xh-btn-no-border" hover-class="xh-btn-default-hover" formType="submit">加入购物车</button>
            </form>
            <form bindsubmit="buyNow" class="btn-form" report-submit-timeout="3000" report-submit="true">
                <button class="xh-btn xh-btn-primary xh-btn-no-radius xh-btn-no-border" hover-class="xh-btn-primary-hover" formType="submit">立即购买</button>
            </form>
        </view>
	     