<loading wx:if="{{isDataLoading}}" bindtap="__on_loading_close__" hidden="{{__loading_close__}}">加载中...</loading>
<view class="xh-column xh-w-750 xh-mT15" wx:for="{{items}}" wx:key="{{index}}">
    <view class="xh-row xh-w xh-solid-b xh-pB30 xh-panel xh-pT30 xh-pL30 xh-pR15" bindtap="onConfirm" data-id="{{item.post_ID}}" hover-class="xh-panel-hover">
        <image src="{{item.img.url}}" style="width:200rpx;height:150rpx;" mode="aspectFill" />

        <view class="xh-column xh-mL15" style="width:500rpx;justify-content:space-between;">
            <view class="xh-w xh-column">
                <text class="xh-w xh-c-main-i xh-f-main-i single-ellipsis">{{item.title}}</text>
                <view wx:if="{{item.contact}}" bindtap="__common_event_tap__" data-action="make-phone-call" data-params="{{item.contact}}">
                    <text class="xh-c-sub xh-f-small">联系电话：</text>
                    <text class="xh-c-link xh-f-small">{{item.contact}}</text>
                </view>
            </view>

            <text class="xh-c-sub xh-f-sub multi-ellipsis xh-mT30">{{item.path?item.path.path:''}}</text>
        </view>
    </view>

    <view class="xh-row xh-w xh-p15 xh-panel" style="justify-content:flex-end;">
        <view bindtap="__nav__" data-url="/package_b/pages/shop/detail/index?id={{item.post_ID}}" class="xh-row xh-c-sub xh-f-sub xh-panel xh-mL30" style="width:120rpx;" data-action="navigate" hover-class="xh-panel-hover">
            <image src="{{apiAssets}}/images/icon/view.png" class="xh-mR15" style="width:32rpx;height:32rpx;" />
            <text class="xh-c-sub xh-f-sub">详情</text>
        </view>
    </view>
</view>

<view wx:if="{{items.length}}" class="xh-pL30 xh-pT15 xh-c-sub xh-f-small">
    提示：点击以上任一门店，将立即同步到结算信息
</view>