@import "../../templates/checkout/index.wxss";
.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.ui-border-b {
    border-bottom: 1rpx solid #e7e7e7;
}

.mt40 {
    margin-top: 40rpx;
}


.v-checkout .icon-back {
    display: block;
    width: 16rpx;
    height: 16rpx;
    position: absolute;
    right: 30rpx;
    top: 50%;
    transform: translate3d(0, -50%, 0) rotate(45deg);
    border: 2rpx solid #abb0c7;
    border-left: 0;
    border-bottom: 0;
}

.hide {
    display: none;
}

.middle-center-y {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.u-cart-empty {
    text-align: center;
    background: #fff;
}

.u-cart-empty image {
    width: 278rpx;
    height: 332rpx;
    margin-top: 80rpx;
}

.u-empty-title {
    margin-top: 50rpx;
    font-size: 36rpx;
    color: #222;
}

.u-empty-tips {
    padding: 30rpx 0;
    font-size: 28rpx;
    color: #98989f;
}

.m-haitao-promise {
    margin-top: 30rpx;
    padding: 30rpx;
    font-size: 28rpx;
    letter-spacing: 0.4rpx;
    color: #98989f;
    background: #fff;
}

.fix-iphonex .checkout-pay .pay-content {
    padding-bottom: 88rpx;
}

.hide-payButton {
    z-index: -1;
    position: relative;
}

.svipAgreement {
    position: fixed;
    bottom: 200rpx;
    left: 0;
    right: 0;
    z-index: 10;
    padding: 10rpx 30rpx;
    font-size: 26rpx;
    line-height: 30rpx;
}

.svipAgreement .agreementLink {
    color: #157efa;
}

.l-msg-container {
    margin-top: 30rpx;
    padding: 30rpx 0rpx;
    width: 750rpx;
}

.l-msg {
    width: 670rpx;
    height: 100rpx;
    margin: 0 20rpx;    
    padding: 20rpx;
    text-align: left;
}

.checkout-pay {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
}

.checkout-pay .pay-content {
    padding: 20rpx 30rpx;
    box-sizing: border-box;
}

.checkout-pay .fix-iphonex {
    padding-bottom: 88rpx;
}

.checkout-pay .total-money {
    display: flex;
    margin: 8rpx 0 28rpx;
    line-height: 36rpx;
    font-size: 32rpx;
    font-weight: bold;
    color: #585c64;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.checkout-pay .total-money text {
    margin-left: 20rpx;
    color: #e4007f;
    font-size: 36rpx;
}

.u-pay-countdown {
    margin: 18rpx 0 16rpx;
    text-align: center;
    color: #585c64;
    font-size: 24rpx;
    line-height: 28rpx;
}

.u-pay-countdown text {
    display: inline-block;
    width: 68rpx;
}

.u-pay-wrap {
    display: flex;
    flex-flow: row;
    flex: 1;
}

.u-pay-wrap .u-cod-disabled {
    background: #fff;
    color: #caccd2;
    border: 2rpx solid #caccd2;
}

.checkout-pay .btn-pay-wechat {
    padding: 0;
    height: 72rpx;
    line-height: 72rpx;
    outline: 0;
    box-sizing: border-box;
    text-align: center;
    font-size: 32rpx;
    border: none;
    border-radius: 4rpx;
    width: 100%;
    background-color: #4dba4b;
    color: #fff;
    letter-spacing: 2rpx;
}

.checkout-pay .u-wechat-disabled {
    background-color: #caccd2;
}

.btn-pay-cod {
    padding: 0;
    margin-right: 30rpx;
    height: 72rpx;
    line-height: 72rpx;
    outline: 0;
    box-sizing: border-box;
    text-align: center;
    font-size: 32rpx;
    border: 2rpx solid #585c64;
    border-radius: 4rpx;
    width: 100%;
    background-color: #fff;
    color: #585c64;
    letter-spacing: 2rpx;
}

.btn-pay-cod icon {
    margin-left: 10rpx;
    line-height: 32rpx;
    vertical-align: middle;
    font-size: 32rpx;
}

.checkout-pay input {
    display: none;
}

.checkout-pay .btn-pay-viph {
    padding: 0;
    height: auto;
    line-height: 72rpx;
    outline: 0;
    box-sizing: border-box;
    text-align: center;
    font-size: 32rpx;
    border: none;
    border-radius: 4rpx;
    width: 100%;
    background-color: #de3d96;
    color: #fff;
    letter-spacing: 2rpx;
    margin-top: 10rpx;
}

.btn-pay-viph .viph-content {
    font-size: 24rpx;
}

.checkout-pay .viph-dis {
    opacity: 0.8;
}

.lh42 {
    line-height: 42rpx !important;
}
