<loading wx:if="{{isPageLoading}}" bindtap="__on_loading_close__" hidden="{{__loading_close__}}">加载中...</loading>
<view style="position:absolute;top:10%;" class="xh-column xh-w xh-column-c">
    <block wx:if="{{!isOK}}">
        <view style="width:150rpx;height:150rpx;border-radius:150rpx;overflow:hidden">
            <open-data type="userAvatarUrl"></open-data>
        </view>
        <view class="xh-c-main-i xh-f-big xh-mT15">
            <open-data type="userNickName"></open-data>
        </view>
        <view class="xh-c-sub xh-f-sub xh-mT15">{{title}}</view>

        <view class="xh-column xh-w" style="margin-top:250rpx;">
            <view style="color:red;" wx:if="{{fail_msg}}" class="xh-f-sub xh-mB15 xh-t-c xh-w">{{fail_msg}}</view>
            <button wx:if="{{isCan}}" class="xh-btn xh-btn-primary xh-btn-no-radius xh-w" hover-class="xh-btn-primary-hover" bindtap="bindOnConfirm">{{comfirn_txt}}</button>

            <button wx:else class="xh-btn xh-btn-default xh-btn-no-radius xh-w" bindtap="__nav__" hover-class="xh-btn-default-hover" data-actin="redirect" data-url="/pages/account/index">确认</button>
        </view>
    </block>

    <block wx:else>
        <view style="width:150rpx;height:150rpx;border-radius:150rpx;overflow:hidden">
            <open-data type="userAvatarUrl"></open-data>
        </view>
        <view class="xh-c-main-i xh-f-big xh-mT15">
            <open-data type="userNickName"></open-data>
        </view>
        <view class="xh-c-sub xh-f-sub xh-mT15">{{title}}</view>

        <view class="xh-column xh-w" style="margin-top:250rpx;">
            <view style="color:green;" class="xh-f-sub xh-mB15 xh-t-c xh-w">{{isOK_txt}}</view>
            <button class="xh-btn xh-btn-primary xh-btn-no-radius xh-w" hover-class="xh-btn-primary-hover" bindtap="__nav__" data-actin="redirect" data-url="/pages/account/index">完成</button>
        </view>
    </block>
</view>