<import src="priceActivityTimeTemp.wxml" />

<view class="m-product-meta xh-panel xh-pL30 xh-pR15">
    <view class="price-time-ll xh-solid-b xh-pB15 xh-pT30">
        <view class="price-ll">
            <view class="product-price-pro">
                <HTML wx:if="{{productInfo}}" cls="sell-price" nodes="{{productInfo.price_html}}" />
                <view wx:else class="sell-price ">
                    <view class="woocommerce-price-container">
                        <view class="woocommerce-Price-amount xh-panel-main" style="width:200rpx;height:80rpx;"></view>
                    </view>
                </view>
            </view>

            <view class="flash-sale-stock-ll" wx:if="{{productInfo&&productInfo.total_sales!='no'&&productInfo.total_sales}}">
                <view class="sale-desc xh-c-sub xh-f-sub">已售出
                    <text class="xh-B">{{productInfo.total_sales}}</text>
                </view>
            </view>
        </view>

        <template wx:if="{{productInfo.date_on_sale}}" is="priceActivityTime" data="{{...productInfo.date_on_sale}}"></template>
    </view>


    <view class="name-share-ll xh-pT30 xh-pB15">
        <view class="u-product-name">
            <view class="title-text xh-c-main-i xh-f-main-i" wx:if="{{productInfo}}">{{productInfo.title}}</view>
            <view wx:else class="title-text  xh-c-main-i xh-f-main-i xh-panel-main" style="width:350rpx;height:80rpx"></view>
        </view>
        <view class="m-operation-btn">
            <view class="u-btn xh-solid xh-panel" wx:if="{{productInfo.shareInfo}}" style="position:fixed;top:830rpx;right:0;border-top-left-radius:30rpx;border-bottom-left-radius:30rpx;z-index:100;">
                <share-button type="1" fore-color="{{theme_c_main}}" back-color="{{theme_panel}}" product="{{productInfo.shareInfo}}" bind:error="onShareFailed" />
            </view>

            <block wx:else>
                <view class="u-btn">
                    <button open-type="share" class="u-share-btn" plain="true">
                        <image mode="aspectFit" src="{{apiAssets}}/images/icon/share.png" />
                    </button>
                </view>

                <view class="u-btn">
                    <button bindtap="favProductSize" class="u-collect-btn" plain="true">
                        <image mode="aspectFit" wx:if="{{productInfo.isFav}}" src="{{apiAssets}}/images/icon/collect_selected.png" />
                        <image mode="aspectFit" wx:else src="{{apiAssets}}/images/icon/collect_normal.png" />
                    </button>
                </view>
            </block>
        </view>
    </view>
</view>
<view wx:if="{{productInfo.short_description}}" class="xh-w xh-c-sub xh-f-sub xh-panel-main xh-pL30 xh-pT15 xh-pR15 xh-pB15">
    <HTML nodes="{{productInfo.short_description}}" />
</view>