<template name="product-image">
    <view class="xh-radius" style="position:relative">
        <image bindtap="__nav__" data-action="navigate" data-url="/package_a/pages/product/detail/index?id={{item.parent_id?item.parent_id:item.id}}" mode="aspectFit" style="width:{{image_width}}rpx;height:{{image_width/item.image.width*item.image.height}}rpx;" lazy-load="{{true}}"
            class="image" src="{{item.image.url}}" />

        <block wx:if="{{has_flug}}">
            <view class="u-product-icon" wx:if="{{item.is_new}}">
                <image style="width:68rpx;height:68rpx;" lazy-load="{{true}}" mode="aspectFit" src="{{icons.icon_is_new.url}}" />
            </view>
            <view class="u-product-icon" wx:elif="{{item.is_featured}}">
                <image style="width:68rpx;height:68rpx;" lazy-load="{{true}}" mode="aspectFit" src="{{icons.icon_is_featured.url}}" />
            </view>
            <view class="u-product-icon" wx:elif="{{item.is_on_sale}}">
                <image mode="aspectFit" style="width:68rpx;height:68rpx;" lazy-load="{{true}}" src="{{icons.icon_is_on_sale.url}}" />
            </view>
        </block>
    </view>
</template>