<view class="product-branner xh-panel" wx:if="{{productInfo}}">
    <block wx:if="{{!isVideoPlay}}">
        <swiper autoplay="{{productInfo.gallerys.length>1}}" circular="true" class="swiper-common" duration="500" indicatorDots="{{productInfo.gallerys.length>1}}" interval="5000">
            <swiper-item class="u-swiper-item" wx:for="{{productInfo.gallerys}}" wx:key="{{index}}">
                <view class="slider-img-container">
                    <block wx:if="{{productInfo.is_purchasable&&productInfo.is_in_stock&&index==0&&productInfo.video_source}}">
                        <image bindtap="onBtnPlayerClick" class="common-img" data-idx="{{index}}" src="{{item.image.url}}" mode="aspectFit" />
                        <image mode="aspectFit" class="video-player" src="{{apiAssets}}/images/icon/play.png" bindtap="onBtnPlayerClick" />
                    </block>

                    <image wx:else bindtap="showSliderImg" class="common-img" data-idx="{{index}}" mode="aspectFit" src="{{item.image.url}}" />

                </view>
            </swiper-item>
        </swiper>

        <image wx:if="{{!productInfo.is_purchasable}}" class="sale-out" mode="aspectFit" src="{{apiAssets}}/images/icon/sold-off.png" />
        <image wx:elif="{{!productInfo.is_in_stock}}" class="sale-out" mode="aspectFit" src="{{apiAssets}}/images/icon/sold-out.png" />
    </block>

    <view wx:else class="video-container" style="height:{{maxBannerViewHeight}}rpx;">
        <video src="{{productInfo.video_source}}" title="{{productInfo.title}}" play-btn-position="center" class="slider-video" autoplay="{{true}}" style="height:{{maxBannerViewHeight}}rpx;" />
        <view class="video-close-button" bindtap="onBtnCloseVideoClick">X</view>
    </view>
</view>

<view class="product-branner xh-panel" wx:else>
    <swiper circular="true" class="swiper-common">
        <swiper-item class="u-swiper-item">
            <view class="slider-img-container">
                <view class="common-img xh-panel-main" />
            </view>
        </swiper-item>
    </swiper>
</view>