/* components/product/small/index.wxss */

.product-list-tags
{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 15rpx;
}

.product-list-tags>view
{
  background: #D0021B;
  font-size: 18rpx;
  border-radius: 8rpx;
  color: #fff;
  padding: 10rpx 15rpx;
  margin-right: 15rpx;
}

.product-list-tags>view.simple
{
  background: #9FCABF;
}

pro-img
{
  border-bottom: solid 1px #D8D8D8
}

pro-img image
{
  transform: scale(0.8);
  max-height: 370rpx;
  min-height: 370rpx;
}
