<view class="xh-column xh-w sticky " style="{{isOpen?'z-index:101;':''}};" wx:if="{{catObj&&catObj.items1&&catObj.items1.length}}">
    <view class="xh-row xh-w xh-bg-tab  xh-solid-t  xh-solid-b">
        <scroll-view scroll-with-animation class="xh-scroll" scroll-x style="width:670rpx;" scroll-into-view="cart-item-{{(current_cat_index-2)<0?0:(current_cat_index-2)}}">

            <view id="cart-item-{{index}}" class="xh-scroll-item xh-pL30 xh-pR30 xh-p-tab" bindtap="onCatSelected" style="position:relative;overflow:visible;" wx:for="{{catObj.items1}}" wx:key="{{index}}" data-index="{{index}}">
                <view class="xh-w xh-t-c xh-f-main xh-c-main single-ellipsis {{cat_id==item.term_id?'xh-c-active':''}}">{{item.name}}</view>

                <view wx:if="{{index==cat_index}}" animation="{{selectedBarAni}}" style="bottom:0;height:4rpx;color:transparent;position:absolute;" class="xh-c-active-B xh-t-c xh-f-main">{{cat_name?cat_name:item.name}}</view>

            </view>
        </scroll-view>
        <view class="xh-row xh-row-c xh-column-c box-shadow-l" bindtap="onFilterToggle" style="width:80rpx;height:30rpx;">
            <image src="{{apiAssets}}{{isOpen?'/images/icon/up.png':'/images/icon/down.png'}}" style="width:18rpx;height:10rpx;" />
        </view>
    </view>

    <view class="xh-row xh-w" style="position:relative;" catchtouchmove="ture">
        <view class="xh-column xh-w-750 xh-panel xh-pL15" style="height:0rpx;position:absolute;top:0;left:0;overflow:hidden;" animation="{{filterAni}}">
            <form bindsubmit="onSubmit" bindreset="onReset" report-submit-timeout="3000" report-submit="true">
                <view class="xh-column xh-w">
                    <view class="xh-row xh-w xh-solid-t  xh-pT15 xh-pB15">
                        <view class="xh-p15" wx:if="{{sortArr&&sortArr.length}}">
                            <picker bindchange="onSortChange" value="{{sort}}" range="{{sortArr}}" range-key="title">
                                <view class="xh-row xh-row-c xh-f-main xh-c-main {{sort>0?'xh-c-active':''}}"> {{sortArr[sort].title}}
                                    <image src="{{apiAssets}}/images/v2/icon/black-down.png" style="width:14rpx;height:8rpx;margin-left:5rpx;" />
                                </view>
                            </picker>
                        </view>
                        <view class="xh-p15 xh-mL15 {{is_on_sale?'xh-c-active':''}} xh-f-main xh-c-main" bindtap="onSaleChange">促销商品</view>
                        <view class="xh-p15 xh-mL15 {{is_feature?'xh-c-active':''}} xh-f-main xh-c-main" bindtap="onFeatureChange">精选商品</view>
                    </view>

                    <!--筛选-->
                    <scroll-view id="nav" scroll-y wx:if="{{filterArr}}" class="xh-column xh-w xh-solid-t" style="max-height:{{scrollViewHeight}}rpx;">
                        <view class="xh-column xh-w  xh-pT15 xh-pB15" wx:for="{{filterArr}}" wx:key="{{index}}">
                            <view class="xh-f-main xh-c-main single-ellipsis xh-w xh-p15">{{item.title}}</view>

                            <view wx:if="{{item.type=='slider'}}" class="xh-row xh-w xh-column-center xh-w xh-p15 ">
                                <input bindblur="onInput" data-key1="{{index}}" data-key2="low" placeholder="最低价" placeholder-class="xh-c-sub xh-f-sub" type="digit" class="xh-p15 xh-c-main xh-f-main xh-bg xh-radius" style="width:200rpx;" />
                                <text class="xh-c-sub xh-f-sub xh-p15">-</text>
                                <input bindblur="onInput" data-key1="{{index}}" placeholder="最高价" data-key2="top" placeholder-class="xh-c-sub xh-f-sub" type="digit" class="xh-p15 xh-c-main xh-f-main xh-bg xh-radius" style="width:200rpx;" />
                            </view>

                            <view wx:elif="{{item.options}}" class="xh-row xh-w" style="flex-wrap:wrap">
                                <view class="xh-c-sub xh-f-sub xh-radius xh-p15 xh-m15 single-ellipsis xh-t-c {{filter[index][okey]?'xh-c-active xh-active-b xh-active-border':' xh-bg'}}" wx:for="{{item.options}}" wx:key="{{okey}}" wx:for-index="okey" wx:for-item="option" bindtap="onSelect" data-key1="{{index}}"
                                    data-key2="{{okey}}" style="width:150rpx;">{{option}}</view>
                            </view>
                        </view>
                    </scroll-view>

                    <view class="xh-row xh-w xh-solid-t" style="position:absolute;left:0;bottom:0;">
                        <button form-type="reset" class="xh-btn xh-btn-default xh-btn-no-border xh-btn-no-radius" style="width:50%;" hover-class="xh-btn-default-hover">清空</button>
                        <button form-type="submit" class="xh-btn xh-btn-primary xh-btn-no-border xh-btn-no-radius" style="width:50%;" hover-class="xh-btn-primary-hover">完成</button>
                    </view>
                </view>
            </form>
        </view>
    </view>
</view>

<view class="xh-column xh-w" style="position:relative;min-height:{{windowHeight}}px">
    <slot name="content"></slot>
    <view class="xh-dialog" style="position:absolute;" wx:if="{{isOpen}}" bindtap="onFilterToggle"></view>
</view>