<button class="container xh-panel" hover-class="xh-panel-hover">
    <image class="icon" src="{{icon}}" mode="aspectFit" />
    <view class="title single-ellipsis xh-c-main xh-f-sub" style="margin-top:5rpx;">{{title}}</view>
</button>