@import "../../../templates/checkout/index.wxss";
@import "/templates/cart-items/index.wxss";
/*-----------order-info----------*/

.order-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.order-info-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.order-info-item text {
    margin: 10rpx 0rpx;
}

.order-footer {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 102;
}