<template name="cart-items">
    <view class="cart-items">
        <!-- <scroll-view scroll-y style="max-height:420rpx;">-->
        <view wx:for="{{items}}" wx:key="{{index}}" class="cart-item xh-pL30 xh-pT15 xh-pB15 xh-pR30 xh-solid-b" bindtap="__nav__" data-action="navigate" data-url="{{url?url:('/package_a/pages/product/detail/index?id='+(item.product.parent_id?item.product.parent_id:item.product.id))}}">
            <view class="cart-item-product-info">
                <image style="width:150rpx;height:130rpx;" lazy-load="{{true}}" class="cart-item-image" mode="aspectFit" src="{{item.product.image.url}}" />
                <view class="desc xh-mL15">
                    <text class="cart-item-title multi-ellipsis xh-c-main xh-f-main">{{item.product.title}}</text>
                     <text class="xh-c-sub xh-f-small single-ellipsis xh-w" wx:if="{{item.product.sku}}">SKU:{{item.product.sku}}</text>
                    <text wx:if="{{item.subtitle}}" class="cart-item-title single-ellipsis xh-c-sub xh-f-small">{{item.subtitle}}</text>

                     <view class="cart-item-price-v xh-B xh-c-main xh-f-main">{{currency_symbol}}{{item.item_total}}</view>
                </view>
            </view>

            <view class="cart-item-price">
               
                <view class="cart-item-price-q xh-f-small xh-c-small">x {{item.quantity}}</view>
            </view>
        </view>
        <!--  </scroll-view>-->
    </view>
</template>