<template name="cart-items">
    <view class="cart-items">
        <scroll-view scroll-x style="width:750rpx; overflow: hidden;white-space: nowrap;flex-wrap: nowrap;">
            <view style="display:inline-block;" wx:for="{{items}}" wx:key="{{index}}">

                <view class="cart-item" bindtap="__nav__" data-action="navigate" data-url="{{url?url:('/package_a/pages/product/detail/index?id='+(item.product.parent_id?item.product.parent_id:item.product.id))}}">
                    <view class="cart-item-product-info">
                        <image style="width:100rpx;height:100rpx;" lazy-load="{{true}}" class="cart-item-image" mode="aspectFit" src="{{item.product.image.url}}" />
                        <view class="desc xh-mL15">
                            <view class="cart-item-title multi-ellipsis xh-c-main xh-f-sub">{{item.product.title}}</view>
                            <view class="xh-c-sub xh-f-small single-ellipsis xh-w" wx:if="{{item.product.sku}}">SKU:{{item.product.sku}}</view>
                            <view wx:if="{{item.subtitle}}" class="cart-item-title single-ellipsis xh-c-sub xh-f-small">{{item.subtitle}}</view>
                        </view>
                    </view>

                    <view class="cart-item-price">
                        <view class="cart-item-price-v xh-c-sub xh-f-small">{{currency_symbol}}{{item.item_total}}</view>
                        <view class="cart-item-price-q xh-c-sub xh-f-small">x {{item.quantity}}</view>
                    </view>
                </view>
            </view>
        </scroll-view>
    </view>
</template>